.git
.gitignore
.dockerignore
.env.example
.env.testing
.DS_Store
Thumbs.db
*.log
*.pem
docker-compose.yml
docker-compose.*.yml
.editorconfig
README.md
CONTRIBUTING.md
CHANGELOG.md
LICENSE
node_modules
vendor
storage/logs
storage/debugbar
.idea
.vscode
*.swp
*.swo
*~
.npm
.node_modules
public/build
